{% extends 'layout.html' %}

{% block body %}
<div class="container pt-5">
    <!-- <div class="row justify-content-center"> -->
    <div class="row">
        <h6>Top 3 Most Division on Demand</h6>
        <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col"> </th>
                    <th scope="col">Division Name  </th>
                    <th scope="col">Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>General</td>
                    <td>13790</td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>General Petite</td>
                    <td>8092</td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td>Initmates</td>
                    <td>1494</td>
                    </tr>
                </tbody>
                </table>
        <h6>Top 3 Most Department on Demand</h6>
        <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col"> </th>
                    <th scope="col">Department Name</th>
                    <th scope="col">Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Tops</td>
                    <td>10421</td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Dresses</td>
                    <td>6296</td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td>Bottoms</td>
                    <td>3791</td>
                    </tr>
                </tbody>
                </table>
        <h6>Top 3 Most Class Name on Demand</h6>
        <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col"> </th>
                    <th scope="col">Class Name     </th>
                    <th scope="col">Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Dresses</td>
                    <td>6296</td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Knits</td>
                    <td>4823</td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td>Blouses</td>
                    <td>3089</td>
                    </tr>
                </tbody>
                </table>
 
    <!-- </div> -->
</div>
{% endblock body %}